html, body {
	background-image: linear-gradient(to bottom right, rgb(60, 175, 252), rgb(58, 176, 236), rgb(56, 177, 220), rgb(54, 178, 203), rgb(52, 179, 187), rgb(50, 180, 171), rgb(47, 181, 155), rgb(45, 182, 139), rgb(43, 183, 123), rgb(41, 184, 106), rgb(39, 185, 90), rgb(37, 186, 74));
	margin: 0;
	height: 100%;
  font-family: Arial, Helvetica, sans-serif
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

